streamlit
supabase
python-dotenv
pandas
numpy
pillow
opencv-python
easyocr
torch
transformers
sentence-transformers
scikit-learn
plotly
matplotlib
sounddevice
SpeechRecognition
gTTS
pypdf
pytesseract
faiss-cpu